.form {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.row {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.row > * {
	margin: 0.1rem;
}

body, html {
	overflow: hidden;
}

.tiny_text, .tiny_header {
	opacity: 0.5;
	font-weight: bold;
	opacity: 0.5;
	font-size: 0.75em;
}
.tiny_header {
	display: block;
	padding: 1em 0 .5em 0;
}